.layout-default {
  --drawer-width: 240px;
  --appbar-height: 64px;
  display: flex;

  & > main {
    width: 100%;
    margin-top: calc(var(--appbar-height) + 2rem);
  }
}

.top-navigation {
  z-index: 1300;

  .menu-toggle {
    margin-left: -1rem;
    margin-right: 2rem;
  }

  .drawer-is-open & {
    width: calc(100% - var(--drawer-width));
    margin-left: var(var(--drawer-width));

    .menu-toggle {
      display: none;
    }
  }
}

.drawer,
.drawer .MuiDrawer-paper {
  z-index: 1200;
  width: 65px;
  overflow-x: hidden;
  flex-shrink: 0;

  .drawer-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: var(--appbar-height);
    padding: 0.5rem 1rem;
  }

  .drawer-is-open &,
  .drawer-is-open & .MuiDrawer-paper {
    width: var(--drawer-width);
    overflow-x: hidden;
  }
}

.masonry-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-flow: dense;

  & > div {
    &:nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

.rich-text {
  padding: 2rem 1rem;
}
